<header>
  <h1 class="title">The Leaky Cauldron</h1>
  <p>Blog for Harry Potter musings.</p>
</header>

<div class="index">
  <a href="/add"><button class="index-btn">Share Your Thoughts in the Pensieve</button></a>
  {{#each list}}
    <div class="posts">
      <h2><a href="/see-post/{{this.id}}">{{this.title}}</a></h2>
      <p>by: {{this.userName}}</p>
      <p class="body">{{this.body}}</p>
      <img class="image" src="{{this.img}}"><br>
      <a href="/edit/{{this.id}}">Edit</a>
      <a href="/see-post/{{this.id}}">Comment</a>
    </div>
  {{/each}}
</div>
