<h1>The Leaky Cauldron</h1>
<p>Blog for Harry Potter musings.</p>

<a href="/write"><button>Share Your Thoughts in the Pensieve</button></a>

{{#each list}}
  <div>
    <h3><a href="/{{this.id}}">{{this.title}}</a></h3>
    <p>by: {{this.name}}</p>
    <p class="body">{{this.body}}</p>
    <img class="image" src="{{this.img}}"
  </div>
{{/each}}
