<a href="/">Home</a>

<div class="see-post">
  <h1>{{post.title}}</h1>
  <p>by: {{post.name}}</p>
  <p>{{post.body}}</p>
  <img src="{{post.img}}">
  <a href="/edit/{{post.id}}">Edit This Post</a>
  <a href="/{{post.id}}/delete">Delete Post</a>

</div>

<section class="comment">

  {{#each comments}}
    <article class="old-comments">
      <p>{{name}}: </p>
      <p>{{body}}</p>
    </article>
  {{/each}}
  <a href="/see-post/{{post.id}}/delete">Delete All Comments</a>

  <h3>Leave a comment</h3>
  <form action='/see-post/{{post.id}}' method='post'>
    <label for="name">Username</label>
      <input type="text" name='name'>
    <label for="body">Your Comment</label>
      <textarea rows="2" name="body"></textarea>
    <button type="submit">Comment</button>
  </form>
</section>
